body,
html {
  background: url(RB-BG.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  
}
h1 {
  color: rgb(220, 146, 20);
  text-align: center;
  font-size: 18em;
  font-family: Brush Script MT, Brush Script Std, cursive;
  text-shadow: 4px 4px 5px grey;

}


h2{
  font-size:5rem;
  color: #0abfcc;
  font-family: Courier New, monospace;
  text-align: center;
  width: 100%;
  margin-left: 45px;
  margin-top: 225px;
  text-shadow: 4px 4px 5px grey;

}
hr {
    margin: 20px auto;
    color: #F05F44;
    border: 3px solid #F05F44;
    max-width: 65px;
    opacity: 1;  
    
}

.buffer {
  height: 9rem;
}
.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
  margin-left: 45px;


}
.btn-primary {
  color: black;
  background-color: rgb(220, 146, 20);
  border-color: #F05F44;
  --bs-btn-hover-bg: #ee4b08;  
  --bs-btn-hover-border-color: #ee4b08;
}
.btn-primary:hover {
  border-width: 4px;
}



.btn-xl {
  padding: 1rem 2rem;
}
/* For screens smaller than 576px */
@media (max-width: 575.98px) {
  h1 {
    font-size: 8em;
  }

  h2 {
    font-size: 3rem;
    margin-top: 100px;
  }

  .btn {
    margin-left: 20px;
  }

  .btn-xl {
    padding: 0.75rem 1.5rem;
  }
}

/* For screens between 576px and 767.98px */
@media (min-width: 576px) and (max-width: 767.98px) {
  h1 {
    font-size: 10em;
  }

  h2 {
    font-size: 4rem;
    margin-top: 150px;
  }

  .btn {
    margin-left: 30px;
  }

  .btn-xl {
    padding: 0.9rem 1.8rem;
  }
}

/* For screens between 768px and 991.98px */
@media (min-width: 768px) and (max-width: 991.98px) {
  h1 {
    font-size: 12em;
  }

  h2 {
    font-size: 4.5rem;
    margin-top: 175px;
  }

  .btn {
    margin-left: 40px;
  }

  .btn-xl {
    padding: 1rem 2rem;
  }
}

/* For screens larger than or equal to 992px */
@media (min-width: 992px) {
  h1 {
    font-size: 18em;
  }

  h2 {
    font-size: 5rem;
    margin-top: 225px;
  }

  .btn {
    margin-left: 45px;
  }

  .btn-xl {
    padding: 1rem 2rem;
  }
}
